# Install CI dependencies
--trusted-host devlib.local.intelions.ru
--index-url http://devlib.local.intelions.ru/repository/pypi-local/simple
ansible==2.7.4
#docker==3.7.0
docker-py
molecule==2.19.0
testinfra==1.16.0
netaddr==0.7.19
