#
#  {{ ansible_managed }}
#

VCS="{{ etck_vcs }}"

GIT_COMMIT_OPTIONS="{{ etck_git_commit_options }}"
HIGHLEVEL_PACKAGE_MANAGER={{ etck_highlevel_package_manager }}
LOWLEVEL_PACKAGE_MANAGER={{ etck_lowlevel_package_manager }}
PUSH_REMOTE=""